@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  .search-show {
    transform: translateY(0%);
    transition: all 0.2s ease;
  }
  .menu-show {
    right: 0;
    top: 5rem;
    transition: all 0.5s ease;
  }
}
